<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Game is finished</h1>
    <h2>Winner is :</h2><p id="playerWon"></p>
    <table>
        <tr>
            <td>
                <h2 id="p0">--</h2>
            </td>
            <td><h2 id="p1">--</h2>
            </td>
            <td><h2 id="p2">--</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2 id="p3">--</h2>
            </td>
            <td>
                <h2 id="p4" >--</h2>
            </td>
            <td>
                <h2 id="p5">--</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2 id="p6">--</h2>
            </td>
            <td>
                <h2 id="p7">--</h2>
            </td>
            <td>
                <h2 id="p8">--</h2>
            </td>
        </tr>
    </table>

</body>
<style>
    *{
        font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
</style>
</html>