<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="sessionId"></title>
</head>
<body>
<h1>Your move!</h1>
<h2 id="symbol"></h2>
<p id="userName"></p>
<table>
    <tr>
        <td>
            <h2><a id="p0">--</a></h2>
        </td>
        <td><h2><a id="p1">--</a></h2>
        </td>
        <td><h2><a id="p2">--</a></h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2><a id="p3">--</a></h2>
        </td>
        <td>
            <h2><a id="p4" >--</a></h2>
        </td>
        <td>
            <h2><a id="p5">--</a></h2>
        </td>
    </tr>
    <tr>
        <td>
            <h2> <a id="p6">--</a></h2>
        </td>
        <td>
            <h2> <a id="p7">--</a></h2>
        </td>
        <td>
            <h2><a id="p8">--</a></h2>
        </td>
    </tr>
</table>
<a id="gameStatus">Link to active game</a>
</body>
<style>
    .button {
        font-size: 20px;
    }
</style>
</html>